.errorAlert{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 9999;
	transition: 2s;
}

.avatar {
	width: 100px;
	height: 60px;
	overflow: hidden;
}

.avatar img{
	width: 100%;
}

.error {
	color: red;
	font-weight: normal;
	font-style: italic;
}

.imageForm{
	max-width: 100%;
	max-height: 300px;
}

.avatarImg100{
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
}
.avatarImg50{
	width: 2.1rem;
	height: 2.1rem;
	border-radius: 50%;
}
.avatarImgSidebar{
	width: 2.1rem;
	height: 2.1rem;
	border-radius: 50%;
}
.magazineImg{
	height: 60px;

}
.magazineImg img{
	height: 100%;
}

.modal_item{
	margin: 10px;
}
.modal_item_title{
	font-weight: bold;
}
.timeTiny{
	font-size: 12px;
    color: #999;
}
.nowrap{
	white-space: nowrap;
}
.a_hover a:hover {
	color: #007bff !important;
}
.report{
	float: left;
	margin-right: 10px;
}
#table_report .text-success{
	font-size: 16px;
    font-weight: bold;
    position: relative;
}
#table_report .text-success span {
	position: absolute;
    color: transparent;
}
.articleTime{
	position: relative;
}
.articleTimeShow{
	white-space: nowrap;
	font-size: 14px;
	color: #666;
}
.articleTimeBtnEdit{
	position: absolute;
    top: -20px;
    right: -20px;
    padding: 0 5px;
    cursor: pointer;
}
.articleTimeHide{
	display: none;
}
.btn_send_time{
	cursor: pointer;
}
.card-body{
	overflow-x: auto;
}
.modal-body {
    overflow-x: auto;
}
@media only screen and (max-width: 768px) {
	.hideResponsive768{
		display: none;
	}
	.titleTable{
		min-width: 212px;
	}
	
	/*.table{
		min-width: 1140px;
		}*/
}


.index_master{
	color: red;
}
.relate_select{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 5px;
    min-height: 38px;
}
.relate_select_item:last-child{
	margin-bottom: 0;
}
.relate_select_item{
	background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    margin-bottom: 5px;
    padding: 0 5px;
}
.relate_select_item i{
	font-size: 12px;
	color: #999;
    cursor: pointer;
    margin-right: 3px;
}
.relate_select_item i:hover{
	color: #666;
}

.search_value{
	border: 1px solid #999;
    border-radius: 3px;
    max-height: 160px;
    overflow-y: auto;
    display: none;
}
.search_value_item {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    overflow: hidden;
}
.search_value_item:hover {
    background: #efefef;
}