header {
	height: 42px;
	line-height: 42px;
	background: #444;
}
.headerMain {
	display: flex;
	justify-content: space-between;
}
a.headerMainItem {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}
