header {
	height: 42px;
	line-height: 42px;
	background: #444;
}
.headerMain {
	display: flex;
	justify-content: space-between;
}
a.headerMainItem {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}

.headerMain ul {
	list-style: none;
	padding: 0;
}
.headerMain>ul {
	display: flex;
	list-style: none;
	padding: 0;
	width: 100%;
}

.headerMain>ul>li {
	flex: auto;
}
.headerMain>ul li {
	position: relative;
}
.headerMain ul li a {
	font-size: 11px;
	white-space: nowrap;
	color: #fff;
	text-decoration: none;
}

.headerMain>ul>li ul {
	 display: none;
}

.headerMain>ul>li>ul {
	position: absolute;
	list-style: none;
	top: 42px;
	left: -10px;
	background: #444;
	z-index: 1;
}
.headerMain ul li:hover{
	background: #555;
}

.headerMain>ul>li ul li {
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}
.headerMain ul>li:hover>ul{
	display: block;
}

.headerMain>ul>li>ul>li>ul {
	position: absolute;
	list-style: none;
	top: 0px;
	left: 100%;
	background: #444;
	z-index: 1;
}
/*.headerMain>ul>li:hover>ul{*/
	/*display: block;*/
/*}*/




