

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
	padding-top: 50px;
	
}
header{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    background: #fff;
    text-align: center;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.15);
    z-index: 2;
}

.headerBtnHome{
	float: left;
	height: 100%;
	width: 50px;
}
.headerBtnHome a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 66px;
	text-align: center;
	background: #d71a21;
}
.headerLogo{
	float: left;
	height: 100%;
	padding: 5px 15px;
}
.headerLogo a{
	display: block;
	height: 100%;
}
.headerLogo a img{
	height: 100%;
	width: auto;
}

.headerLikeShare{
	float: right;
	padding: 12px 15px;
}

.headerMain{
	line-height: 50px;
	font-family: Merriweather;
    font-weight: bold;
    font-size: 16px;
}


@media only screen and (max-width: 768px) {
    
    .headerMain {
        display: none;
    }
}
@media only screen and (max-width: 425px) {
    .mainLogo {
        margin: 25px 0 25px;
        
    }
    .headerLogo{
    	padding: 5px 0;
    }
    .headerLikeShare{
        padding: 0;
    }
    
}

